{
  "openapi": "3.0.0",
  "info": {
    "title": "HYPLAY API",
    "version": "1.0.0",
    "description": "HYPLAY API Specification",
    "termsOfService": "https://hyplay.com",
    "contact": {
      "name": "HYCHAIN Team",
      "email": "braydon@hytopia.com",
      "url": "https://hychain.com"
    }
  },
  "servers": [
    {
      "description": "HYPLAY API Server",
      "url": "https://api.hyplay.com"
    },
    {
      "description": "HYPLAY API Staging Server",
      "url": "https://staging-api.hyplay.com"
    },
    {
      "description": "Local Development Server",
      "url": "http://localhost:8001"
    }
  ],
  "components": {
    "parameters": {
      "headerAuthorizationUser": {
        "name": "x-authorization",
        "in": "header",
        "description": "The `accessToken` of the authenticating user.",
        "example": "user_at_02z4Mv3c85Ig0gNowY9Dq0N2kjb1xwzr27ArLE0669RrRI6dLf822iPO26K1p1FP",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "headerAuthorizationUserOptional": {
        "name": "x-authorization",
        "in": "header",
        "description": "The `accessToken` of the authenticating user.",
        "example": "user_at_02z4Mv3c85Ig0gNowY9Dq0N2kjb1xwzr27ArLE0669RrRI6dLf822iPO26K1p1FP",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "headerAuthorizationAppSecret": {
        "name": "x-app-authorization",
        "in": "header",
        "description": "The `secretKey` or `testSecretKey` of the authenticating app.",
        "example": "test_app_sk_pBEHOVTIZjQFT6WpiQLT8c_VFfd6Vb2XHj_9IIV8-Zi06SdMIruJxIe2QMaca_X6",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "headerAuthorizationAppSecretOptional": {
        "name": "x-app-authorization",
        "in": "header",
        "description": "The `secretKey` or `testSecretKey` of the authenticating app.",
        "example": "test_app_sk_pBEHOVTIZjQFT6WpiQLT8c_VFfd6Vb2XHj_9IIV8-Zi06SdMIruJxIe2QMaca_X6",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "headerAuthorizationSession": {
        "name": "x-session-authorization",
        "in": "header",
        "description": "The `accessToken` of the authenticating session.",
        "example": "sca_sat_pBEHOVTIZjQFT6WpiQLT8c_VFfd6Vb2XHj_9IIV8-Zi06SdMIruJxIe2QMaca_X6",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "headerAuthorizationSessionOptional": {
        "name": "x-session-authorization",
        "in": "header",
        "description": "The `accessToken` of the authenticating session.",
        "example": "sca_sat_pBEHOVTIZjQFT6WpiQLT8c_VFfd6Vb2XHj_9IIV8-Zi06SdMIruJxIe2QMaca_X6",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "headerAuthorizationNonce": {
        "name": "x-nonce",
        "in": "header",
        "description": "The nonce of the authenticating user.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "headerAuthorizationNonceSignature": {
        "name": "x-nonce-signature",
        "in": "header",
        "description": "The nonce signature of the authenticating user.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "pathAppId": {
        "name": "appId",
        "in": "path",
        "description": "An application id.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "pathAssetId": {
        "name": "assetId",
        "in": "path",
        "description": "An asset id.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "pathContractId": {
        "name": "contractId",
        "in": "path",
        "description": "A contract id.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "pathContractIdOrAddress": {
        "name": "contractIdOrAddress",
        "in": "path",
        "description": "A contract id or address.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "pathLeaderboardId": {
        "name": "leaderboardId",
        "in": "path",
        "description": "A leaderboard id.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "pathSessionId": {
        "name": "sessionId",
        "in": "path",
        "description": "A session id.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "pathTemplateId": {
        "name": "templateId",
        "in": "path",
        "description": "A template id.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "pathTransactionId": {
        "name": "transactionId",
        "in": "path",
        "description": "A transaction id.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "pathUserId": {
        "name": "userId",
        "in": "path",
        "description": "A user id.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "pathWalletIdOrAddress": {
        "name": "walletIdOrAddress",
        "in": "path",
        "description": "A wallet id or address.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "queryAccessTokenExpiresAt": {
        "name": "accessTokenExpiresAt",
        "in": "query",
        "description": "An optional unix timestamp in seconds specifying when the returned `accessToken` should expire. If this value is provided, all prior `accessToken` will be invalidated and a new `accessToken` will be issued in the response. If no value is provided, the returned `accessToken` will not expire unless it is invalidated.",
        "example": 1677197460,
        "required": false,
        "schema": {
          "type": "number"
        }
      },
      "queryAppleAuthCode": {
        "name": "appleAuthCode",
        "in": "query",
        "description": "A Apple OAuth 2.0 code.",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "queryAppleRedirectOverride": {
        "name": "appleRedirectOverride",
        "in": "query",
        "description": "An redirect url for apple auth.",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "queryAppId": {
        "name": "appId",
        "in": "query",
        "description": "An application id.",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "queryArgs": {
        "name": "args",
        "in": "query",
        "description": "An array of arguments.",
        "required": false,
        "schema": {
          "type": "array",
          "items": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              },
              {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "number"
                    },
                    {
                      "type": "boolean"
                    }
                  ]
                }
              }
            ]
          }
        }
      },
      "queryAs": {
        "name": "as",
        "in": "query",
        "description": "An address or walletId to perform as.",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "queryChain": {
        "name": "chain",
        "in": "query",
        "description": "A chain name.",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "HYCHAIN",
            "HYCHAIN_TESTNET",
            "LOCAL"
          ]
        }
      },
      "queryCursor": {
        "name": "cursor",
        "in": "query",
        "description": "An id from the record type to start the pagination of the next results, excluding the provided record id.",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "queryFunc": {
        "name": "func",
        "in": "query",
        "description": "A function name or function signature.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "queryDiscordAuthCode": {
        "name": "discordAuthCode",
        "in": "query",
        "description": "A Discord OAuth 2.0 code.",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "queryDiscordRedirectOverride": {
        "name": "discordRedirectOverride",
        "in": "query",
        "description": "An redirect url for discord auth.",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "queryFacebookAuthCode": {
        "name": "facebookAuthCode",
        "in": "query",
        "description": "A Facebook OAuth 2.0 code.",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "queryFacebookRedirectOverride": {
        "name": "facebookRedirectOverride",
        "in": "query",
        "description": "An redirect url for facebook auth.",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "queryGoogleAuthCode": {
        "name": "googleAuthCode",
        "in": "query",
        "description": "A Google OAuth 2.0 code.",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "queryGoogleRedirectOverride": {
        "name": "googleRedirectOverride",
        "in": "query",
        "description": "An redirect url for google auth.",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "queryTwitterAuthCode": {
        "name": "twitterAuthCode",
        "in": "query",
        "description": "A Twitter OAuth 2.0 code.",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "queryTwitterRedirectOverride": {
        "name": "twitterRedirectOverride",
        "in": "query",
        "description": "An redirect url for twitter auth.",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "queryTemplateApproved": {
        "name": "approved",
        "in": "query",
        "description": "Set this query parameter to `true` to filter for approved templates.",
        "example": "true",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "queryTemplateName": {
        "name": "name",
        "in": "query",
        "description": "A template name to partially or exactly match.",
        "example": "token",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "queryLimit": {
        "name": "limit",
        "in": "query",
        "description": "The maximum number of items to return.",
        "example": 25,
        "required": false,
        "schema": {
          "type": "number"
        }
      },
      "queryOffset": {
        "name": "offset",
        "in": "query",
        "description": "The offset of the first item to return.",
        "example": 0,
        "required": false,
        "schema": {
          "type": "number"
        }
      },
      "queryResetAccessToken": {
        "name": "resetAccessToken",
        "in": "query",
        "description": "Set this query parameter to `true` to reset accessToken and authorityKey.",
        "example": "true",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "queryRecaptchaToken": {
        "name": "hcaptchaResponse",
        "in": "query",
        "description": "A hCaptcha token generated client-side by completion of a user-facing hCaptcha request.",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "querySessionId": {
        "name": "sessionId",
        "in": "query",
        "description": "A session id.",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "querySort": {
        "name": "sort",
        "in": "query",
        "description": "A sort order.",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "queryUsername": {
        "name": "username",
        "in": "query",
        "description": "A user username.",
        "example": "arkdev",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "queryUserId": {
        "name": "userId",
        "in": "query",
        "description": "A user id.",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "queryWalletAddress": {
        "name": "walletAddress",
        "in": "query",
        "description": "A wallet address.",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "queryWalletId": {
        "name": "walletId",
        "in": "query",
        "description": "A wallet id.",
        "required": false,
        "schema": {
          "type": "string"
        }
      },
      "queryStateKey": {
        "name": "key",
        "in": "query",
        "description": "A string identifier unique to an app for looking up state data.",
        "required": false,
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "400": {
        "description": "An API level error occurred. This is often due to problematic data being provided by you.",
        "content": {
          "application/json": {
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "401": {
        "description": "An authorization error occured. This is often due to incorrect tokens or keys being provided, or accessing a resource that the provided tokens or keys do not have access to.",
        "content": {
          "application/json": {
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "schemas": {
      "AppModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "userId": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "walletId": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "iconImageAssetId": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "backgroundImageAssetId": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "logoImageAssetId": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "galleryMediaAssetIds": {
            "type": "object",
            "description": "This field has not had a description added."
          },
          "secretKey": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "testSecretKey": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "name": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "description": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "url": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "discordUrl": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "twitterUrl": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "steamUrl": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "appleIosUrl": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "appleMacUrl": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "googlePlayUrl": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "microsoftUrl": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "privacyUrl": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "termsUrl": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "redirectUris": {
            "type": "object",
            "description": "This field has not had a description added."
          },
          "verificationStatus": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "updatedAt": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "createdAt": {
            "type": "string",
            "description": "This field has not had a description added."
          }
        }
      },
      "AppReferralsModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "appId": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "referredUserId": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "referrerUserId": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "updatedAt": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "createdAt": {
            "type": "string",
            "description": "This field has not had a description added."
          }
        }
      },
      "AppTeammateModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "appId": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "userId": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "role": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "updatedAt": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "createdAt": {
            "type": "string",
            "description": "This field has not had a description added."
          }
        }
      },
      "AssetModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "userId": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "s3Url": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "cdnUrl": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "mime": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "extension": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "checksum": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "size": {
            "type": "integer",
            "description": "This field has not had a description added."
          },
          "updatedAt": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "createdAt": {
            "type": "string",
            "description": "This field has not had a description added."
          }
        }
      },
      "ContractModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "appId": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "userId": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "templateId": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "chain": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "abi": {
            "type": "object",
            "description": "This field has not had a description added."
          },
          "address": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "name": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "description": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "metadata": {
            "type": "object",
            "description": "This field has not had a description added."
          },
          "updatedAt": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "createdAt": {
            "type": "string",
            "description": "This field has not had a description added."
          }
        }
      },
      "NonceModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "walletId": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "nonce": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "createdAt": {
            "type": "string",
            "description": "This field has not had a description added."
          }
        }
      },
      "SessionModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "appId": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "userId": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "chain": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "accessToken": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "exchangeCode": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "scopes": {
            "type": "object",
            "description": "This field has not had a description added."
          },
          "contractFunctionSelectors": {
            "type": "object",
            "description": "This field has not had a description added."
          },
          "nativeAllowance": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "erc20Allowances": {
            "type": "object",
            "description": "This field has not had a description added."
          },
          "erc721Allowances": {
            "type": "object",
            "description": "This field has not had a description added."
          },
          "erc1155Allowances": {
            "type": "object",
            "description": "This field has not had a description added."
          },
          "nonce": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "signatures": {
            "type": "object",
            "description": "This field has not had a description added."
          },
          "deadline": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "expiresAt": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "endedAt": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "updatedAt": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "createdAt": {
            "type": "string",
            "description": "This field has not had a description added."
          }
        }
      },
      "TemplateModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "userId": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "name": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "description": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "solidity": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "target": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "bytecode": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "abi": {
            "type": "object",
            "description": "This field has not had a description added."
          },
          "errors": {
            "type": "object",
            "description": "This field has not had a description added."
          },
          "approved": {
            "type": "boolean",
            "description": "This field has not had a description added."
          },
          "updatedAt": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "createdAt": {
            "type": "string",
            "description": "This field has not had a description added."
          }
        }
      },
      "TransactionModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "walletId": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "sessionId": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "chain": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "relayerAddress": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "func": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "args": {
            "type": "object",
            "description": "This field has not had a description added."
          },
          "value": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "hash": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "createdAt": {
            "type": "string",
            "description": "This field has not had a description added."
          }
        }
      },
      "UserModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "walletId": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "username": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "email": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "phone": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "appleId": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "discordId": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "facebookId": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "googleId": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "microsoftId": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "twitterId": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "accessToken": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "isChild": {
            "type": "boolean",
            "description": "This field has not had a description added."
          },
          "accessTokenExpiresAt": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "updatedAt": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "createdAt": {
            "type": "string",
            "description": "This field has not had a description added."
          }
        }
      },
      "WalletModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "type": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "address": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "authorityCiphertext": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "authorityBackupCiphertexts": {
            "type": "object",
            "description": "This field has not had a description added."
          },
          "authorityProofSignature": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "backupQuestions": {
            "type": "object",
            "description": "This field has not had a description added."
          },
          "updatedAt": {
            "type": "string",
            "description": "This field has not had a description added."
          },
          "createdAt": {
            "type": "string",
            "description": "This field has not had a description added."
          }
        }
      },
      "AnyValue": {
        "description": "Can be anything. String, number, object, array, boolean, etc."
      }
    },
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic authentication must be send in the format of usernameOrEmail:shaPassword, where usernameOrEmail can be the username or email associated with an account, andshaPassword is a sha256 hash of the users provided plaintext password."
      }
    }
  },
  "tags": [
    {
      "name": "Users",
      "description": "User related operations"
    }
  ],
  "paths": {
    "/v1/apps": {
      "get": {
        "operationId": "getApps",
        "summary": "Get apps",
        "description": "Returns an array of apps owned by, or a teammate of, for the authorized user, or up to 25 public apps across HYPLAY if no authorization is provided. Supports pagination for public apps when no user authorization is provided - a `cursor` query parameter can be provided for paginating results based on last result set id.",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/headerAuthorizationUserOptional"
          },
          {
            "$ref": "#/components/parameters/queryCursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of apps owned by the authorized user or public apps across HYPLAY if no authorization is provided.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AppModel"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "iconImageAsset": {
                          "$ref": "#/components/schemas/AssetModel"
                        },
                        "backgroundImageAsset": {
                          "$ref": "#/components/schemas/AssetModel"
                        },
                        "logoImageAsset": {
                          "$ref": "#/components/schemas/AssetModel"
                        },
                        "wallet": {
                          "$ref": "#/components/schemas/WalletModel"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        }
      },
      "post": {
        "operationId": "createApp",
        "summary": "Create app",
        "description": "Create a new app for the authorized user.",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/headerAuthorizationUser"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "iconImageAssetId": {
                    "type": "string",
                    "description": "The assetId of the icon image. Icon images are recommended to be a 1:1 aspect ratio and at least 512x512 pixels."
                  },
                  "backgroundImageAssetId": {
                    "type": "string",
                    "description": "The assetId of the background image. Background images are recommended to be a 16:9 aspect ratio and at least 1920x1080 pixels."
                  },
                  "logoImageAssetId": {
                    "type": "string",
                    "description": "The assetId of the logo image. Logo image are used on pages like preregistration, questing, etc and can be any aspect ratio."
                  },
                  "galleryMediaAssetIds": {
                    "type": "array",
                    "description": "An array of assetIds for media assets to be displayed for app promotional purposes. Such as the web page media gallery.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the app."
                  },
                  "description": {
                    "type": "string",
                    "format": "html",
                    "description": "A brief description of the app and what it is and does."
                  },
                  "url": {
                    "type": "string",
                    "description": "The URL of the app, such as its website or where users can learn more about it."
                  },
                  "discordUrl": {
                    "type": "string",
                    "description": "The URL of the app's Discord server."
                  },
                  "twitterUrl": {
                    "type": "string",
                    "description": "The URL of the app's Twitter page."
                  },
                  "steamUrl": {
                    "type": "string",
                    "description": "The URL of the app's Steam page."
                  },
                  "appleIosUrl": {
                    "type": "string",
                    "description": "The URL of the app's Apple iOS page."
                  },
                  "appleMacUrl": {
                    "type": "string",
                    "description": "The URL of the app's Apple Mac page."
                  },
                  "googlePlayUrl": {
                    "type": "string",
                    "description": "The URL of the app's Google Play page."
                  },
                  "microsoftUrl": {
                    "type": "string",
                    "description": "The URL of the app's Windows Store page."
                  },
                  "privacyUrl": {
                    "type": "string",
                    "description": "The URL of the app's privacy policy."
                  },
                  "termsUrl": {
                    "type": "string",
                    "description": "The URL of the app's terms of service."
                  },
                  "redirectUris": {
                    "type": "array",
                    "description": "An array of valid redirect URIs for the user authorization flows of the app.",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created a new app. Returns an app object.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AppModel"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "iconImageAsset": {
                          "$ref": "#/components/schemas/AssetModel"
                        },
                        "backgroundImageAsset": {
                          "$ref": "#/components/schemas/AssetModel"
                        },
                        "wallet": {
                          "$ref": "#/components/schemas/WalletModel"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        }
      }
    },
    "/v1/apps/{appId}": {
      "get": {
        "operationId": "getPublicApp",
        "summary": "Get public app",
        "description": "Return a public app object for the provided appId.",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pathAppId"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a public app object.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AppModel"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "iconImageAsset": {
                          "$ref": "#/components/schemas/AssetModel"
                        },
                        "backgroundImageAsset": {
                          "$ref": "#/components/schemas/AssetModel"
                        },
                        "logoImageAsset": {
                          "$ref": "#/components/schemas/AssetModel"
                        },
                        "galleryMediaAssets": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AssetModel"
                          }
                        },
                        "wallet": {
                          "$ref": "#/components/schemas/WalletModel"
                        },
                        "totalUsers": {
                          "type": "number"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      },
      "patch": {
        "operationId": "updateApp",
        "summary": "Update app",
        "description": "Update an app owned by the authorized user for the provided appId.",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/headerAuthorizationUser"
          },
          {
            "$ref": "#/components/parameters/pathAppId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "iconImageAssetId": {
                    "type": "string",
                    "description": "The assetId of the icon image."
                  },
                  "backgroundImageAssetId": {
                    "type": "string",
                    "description": "The assetId of the background image."
                  },
                  "logoImageAssetId": {
                    "type": "string",
                    "description": "The assetId of the logo image."
                  },
                  "galleryMediaAssetIds": {
                    "type": "array",
                    "description": "An array of assetIds for media assets to be displayed for app promotional purposes. Such as the web page media gallery.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "name": {
                    "type": "string",
                    "description": "The name of the app."
                  },
                  "description": {
                    "type": "string",
                    "format": "html",
                    "description": "A brief description of the app and what it is and does."
                  },
                  "url": {
                    "type": "string",
                    "description": "The URL of the app, such as its website or where users can learn more about it."
                  },
                  "discordUrl": {
                    "type": "string",
                    "description": "The URL of the app's Discord server."
                  },
                  "twitterUrl": {
                    "type": "string",
                    "description": "The URL of the app's Twitter page."
                  },
                  "steamUrl": {
                    "type": "string",
                    "description": "The URL of the app's Steam page."
                  },
                  "appleIosUrl": {
                    "type": "string",
                    "description": "The URL of the app's Apple iOS page."
                  },
                  "appleMacUrl": {
                    "type": "string",
                    "description": "The URL of the app's Apple Mac page."
                  },
                  "googlePlayUrl": {
                    "type": "string",
                    "description": "The URL of the app's Google Play page."
                  },
                  "microsoftUrl": {
                    "type": "string",
                    "description": "The URL of the app's Windows page."
                  },
                  "privacyUrl": {
                    "type": "string",
                    "description": "The URL of the app's privacy policy."
                  },
                  "termsUrl": {
                    "type": "string",
                    "description": "The URL of the app's terms of service."
                  },
                  "redirectUris": {
                    "type": "array",
                    "description": "An array of valid redirect URIs for the user authorization flows of the app.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "resetSecretKey": {
                    "type": "boolean",
                    "description": "If true, reset the secretKey of the app."
                  },
                  "resetTestSecretKey": {
                    "type": "boolean",
                    "description": "If true, reset the testSecretKey of the app."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated app object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppModel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        }
      }
    },
    "/v1/apps/{appId}/leaderboards": {
      "get": {
        "operationId": "getLeaderboards",
        "summary": "Get leaderboards",
        "description": "Get the leaderboards of the app.",
        "tags": [
          "Leaderboards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pathAppId"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of leaderboards for the app.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "The leaderboard ID."
                      },
                      "name": {
                        "type": "string",
                        "description": "The leaderboard name."
                      },
                      "description": {
                        "type": "string",
                        "description": "The leaderboard description."
                      },
                      "totalScores": {
                        "type": "number",
                        "description": "The total number of users with scores in the leaderboard."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      },
      "post": {
        "operationId": "createLeaderboard",
        "summary": "Create leaderboard",
        "description": "Create a leaderboard for the app.",
        "tags": [
          "Leaderboards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/headerAuthorizationAppSecret"
          },
          {
            "$ref": "#/components/parameters/pathAppId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The leaderboard name."
                  },
                  "description": {
                    "type": "string",
                    "description": "The leaderboard description."
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the created leaderboard.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The leaderboard ID."
                    },
                    "name": {
                      "type": "string",
                      "description": "The leaderboard name."
                    },
                    "description": {
                      "type": "string",
                      "description": "The leaderboard description."
                    },
                    "scores": {
                      "type": "object",
                      "description": "The leaderboard scores, keyed by user ID, defaults to an empty object."
                    },
                    "key": {
                      "type": "string",
                      "description": "The leaderboard hash key, used to generate hashes for client side submission of scores."
                    },
                    "createdAt": {
                      "type": "number",
                      "description": "The timestamp of the leaderboard creation in seconds since the Unix epoch."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/v1/apps/{appId}/leaderboards/{leaderboardId}": {
      "get": {
        "operationId": "getLeaderboard",
        "summary": "Get leaderboard",
        "description": "Get a leaderboard of the app.",
        "tags": [
          "Leaderboards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pathAppId"
          },
          {
            "$ref": "#/components/parameters/pathLeaderboardId"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a leaderboard.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The leaderboard ID."
                    },
                    "name": {
                      "type": "string",
                      "description": "The leaderboard name."
                    },
                    "description": {
                      "type": "string",
                      "description": "The leaderboard description."
                    },
                    "totalScores": {
                      "type": "number",
                      "description": "The total number of users with scores in the leaderboard."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      },
      "patch": {
        "operationId": "updateLeaderboard",
        "summary": "Update leaderboard",
        "description": "Update a leaderboard of the app.",
        "tags": [
          "Leaderboards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/headerAuthorizationAppSecret"
          },
          {
            "$ref": "#/components/parameters/pathAppId"
          },
          {
            "$ref": "#/components/parameters/pathLeaderboardId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The leaderboard name."
                  },
                  "description": {
                    "type": "string",
                    "description": "The leaderboard description."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated leaderboard.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "The leaderboard ID."
                    },
                    "name": {
                      "type": "string",
                      "description": "The leaderboard name."
                    },
                    "description": {
                      "type": "string",
                      "description": "The leaderboard description."
                    },
                    "scores": {
                      "type": "object",
                      "description": "The leaderboard scores, keyed by user ID."
                    },
                    "key": {
                      "type": "string",
                      "description": "The leaderboard hash key, used to generate hashes"
                    },
                    "createdAt": {
                      "type": "number",
                      "description": "The timestamp of the leaderboard creation in seconds since the Unix epoch."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        }
      }
    },
    "/v1/apps/{appId}/leaderboards/{leaderboardId}/key": {
      "get": {
        "operationId": "getLeaderboardKey",
        "summary": "Get leaderboard key",
        "description": "Get the key for a leaderboard.",
        "tags": [
          "Leaderboards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/headerAuthorizationAppSecret"
          },
          {
            "$ref": "#/components/parameters/pathAppId"
          },
          {
            "$ref": "#/components/parameters/pathLeaderboardId"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the leaderboard key.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        }
      }
    },
    "/v1/apps/{appId}/leaderboards/{leaderboardId}/score": {
      "get": {
        "operationId": "getLeaderboardScore",
        "summary": "Get leaderboard score",
        "description": "Get a leaderboard score.",
        "tags": [
          "Leaderboards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pathAppId"
          },
          {
            "$ref": "#/components/parameters/pathLeaderboardId"
          },
          {
            "$ref": "#/components/parameters/queryUserId"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a score based on the provided parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "string"
                    },
                    "score": {
                      "type": "number"
                    },
                    "timestamp": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        }
      }
    },
    "/v1/apps/{appId}/leaderboards/{leaderboardId}/scores": {
      "get": {
        "operationId": "getLeaderboardScores",
        "summary": "Get leaderboard scores",
        "description": "Get an array of scores for the provided leaderboardId. Returns an array default orderered by scores descending. Additionally supports pagination via the `offset` and `limit query parameters. Leaderboard scores return a default of 25 scores.",
        "tags": [
          "Leaderboards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pathAppId"
          },
          {
            "$ref": "#/components/parameters/pathLeaderboardId"
          },
          {
            "$ref": "#/components/parameters/querySort"
          },
          {
            "$ref": "#/components/parameters/queryOffset"
          },
          {
            "$ref": "#/components/parameters/queryLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of scores.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "scores": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "userId": {
                            "type": "string"
                          },
                          "username": {
                            "type": "string"
                          },
                          "score": {
                            "type": "number"
                          },
                          "timestamp": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "totalScores": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      },
      "post": {
        "operationId": "createLeaderboardScore",
        "summary": "Create leaderboard score",
        "description": "Create a score for the provided leaderboardId. Leaderboard scores can be provided for any user id when the app secret key authorization is provided. Alternatively, a user may submit their own scores by provided their session authorization, with a request body containing `score` and `hash`. A valid `hash` is intended to be generated for each score within the game client as sha256(leaderboardKey:userId:score:scoreType). If scoreType is omitted, the hash should be generated as sha256(leaderboardKey:userId:score).",
        "tags": [
          "Leaderboards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/headerAuthorizationAppSecretOptional"
          },
          {
            "$ref": "#/components/parameters/headerAuthorizationSessionOptional"
          },
          {
            "$ref": "#/components/parameters/pathAppId"
          },
          {
            "$ref": "#/components/parameters/pathLeaderboardId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string",
                    "description": "The user id to associate the score with."
                  },
                  "score": {
                    "type": "number",
                    "description": "The score to submit. Can be any number."
                  },
                  "hash": {
                    "type": "string",
                    "description": "The hash of the score when submitting with session authorization. Must be generated as a hash using sha256(leaderboardKey:userId:score)."
                  },
                  "scoreType": {
                    "type": "string",
                    "description": "The type of score for the leaderboard, used for determining how to update the score. Valid options are HIGHEST/LOWEST/LATEST. Defaults to HIGHEST if omitted."
                  }
                },
                "required": [
                  "score"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the created score.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "userId": {
                      "type": "string"
                    },
                    "score": {
                      "type": "number"
                    },
                    "timestamp": {
                      "type": "number"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        }
      },
      "delete": {
        "operationId": "deleteLeaderboardScore",
        "summary": "Delete leaderboard score",
        "description": "Delete a score for the provided leaderboardId and userId.",
        "tags": [
          "Leaderboards"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/headerAuthorizationAppSecret"
          },
          {
            "$ref": "#/components/parameters/pathAppId"
          },
          {
            "$ref": "#/components/parameters/pathLeaderboardId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string",
                    "description": "The user id to delete the score for."
                  }
                },
                "required": [
                  "userId"
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Score deleted successfully."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        }
      }
    },
    "/v1/apps/{appId}/page": {
      "get": {
        "operationId": "getPage",
        "summary": "Get page",
        "description": "Get the HYPLAY page data for an app.",
        "tags": [
          "Promo Page"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pathAppId"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the HYPLAY page data for the app.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AppModel"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "iconImageAsset": {
                          "$ref": "#/components/schemas/AssetModel"
                        },
                        "backgroundImageAsset": {
                          "$ref": "#/components/schemas/AssetModel"
                        },
                        "logoImageAsset": {
                          "$ref": "#/components/schemas/AssetModel"
                        },
                        "galleryMediaAssets": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AssetModel"
                          }
                        },
                        "preregister": {
                          "type": "object",
                          "properties": {
                            "visible": {
                              "type": "boolean"
                            },
                            "incentiveText": {
                              "type": "string"
                            }
                          }
                        },
                        "leaderboard": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "visible": {
                              "type": "boolean"
                            }
                          }
                        },
                        "referral": {
                          "type": "object",
                          "properties": {
                            "visible": {
                              "type": "boolean"
                            },
                            "titleText": {
                              "type": "string"
                            },
                            "incentiveText": {
                              "type": "string"
                            }
                          }
                        },
                        "links": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "text": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "wallet": {
                          "$ref": "#/components/schemas/WalletModel"
                        },
                        "totalUsers": {
                          "type": "number"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      },
      "patch": {
        "operationId": "updatePage",
        "summary": "Update page",
        "description": "Update the HYPLAY page data for an app.",
        "tags": [
          "Promo Page"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/headerAuthorizationUser"
          },
          {
            "$ref": "#/components/parameters/pathAppId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "preregisterVisible": {
                    "type": "boolean",
                    "description": "Whether the pre-register section is visible."
                  },
                  "preregisterIncentiveText": {
                    "type": "string",
                    "description": "The incentive text to display with the pre-register prompt."
                  },
                  "leaderboardId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The id of the leaderboard to display."
                  },
                  "leaderboardVisible": {
                    "type": "boolean",
                    "description": "Whether the leaderboard section is visible."
                  },
                  "referralVisible": {
                    "type": "boolean",
                    "description": "Whether the referral section is visible."
                  },
                  "referralTitleText": {
                    "type": "string",
                    "description": "The title text to display in the referral section."
                  },
                  "referralIncentiveText": {
                    "type": "string",
                    "description": "The incentive text to display in the referral section."
                  },
                  "links": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "text": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated HYPLAY page data for the app.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "preregister": {
                      "type": "object",
                      "properties": {
                        "visible": {
                          "type": "boolean"
                        },
                        "incentiveText": {
                          "type": "string"
                        }
                      }
                    },
                    "leaderboard": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "visible": {
                          "type": "boolean"
                        }
                      }
                    },
                    "referral": {
                      "type": "object",
                      "properties": {
                        "visible": {
                          "type": "boolean"
                        },
                        "titleText": {
                          "type": "string"
                        },
                        "incentiveText": {
                          "type": "string"
                        }
                      }
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "text": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        }
      }
    },
    "/v1/apps/{appId}/states": {
      "get": {
        "operationId": "getAppState",
        "summary": "Get app state",
        "description": "Get the public, protected, private state of an app, user or key.",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pathAppId"
          },
          {
            "$ref": "#/components/parameters/queryStateKey"
          },
          {
            "$ref": "#/components/parameters/headerAuthorizationAppSecretOptional"
          },
          {
            "$ref": "#/components/parameters/headerAuthorizationSessionOptional"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a state object that may contain public, protected, and/or private state for the app, key or user for the authorized user session.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "publicState": {
                      "type": "object",
                      "description": "Public state data for the app or user."
                    },
                    "protectedState": {
                      "type": "object",
                      "description": "Protected state data for the app or user."
                    },
                    "privateState": {
                      "type": "object",
                      "description": "Private state data for the app or user."
                    }
                  },
                  "required": [
                    "public",
                    "protected"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        }
      },
      "post": {
        "operationId": "setAppState",
        "summary": "Set app state",
        "description": "Set arbitrary JSON blobs for public, protected and/or private state specific to an application or authorized user of an application. This is useful for saving different types of data specific to users or global configuration of your app or game in many different situations. It is intended to be highly flexible. State set for a user of your app, a unique lookup key, and the app itself are all isolated to your application. State storage is not globablly shared between applications.",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pathAppId"
          },
          {
            "$ref": "#/components/parameters/headerAuthorizationAppSecretOptional"
          },
          {
            "$ref": "#/components/parameters/headerAuthorizationSessionOptional"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "Any unique lookup key for this data. This can be things such as a hyplay user id, an internal battle match id for your game, some arbitrary settings identifier for a system of your app and more. Keys are flexible ways to create string based lookup identifiers for data you want to store/lookup. Keys are unique to your application and are not shared globally."
                  },
                  "publicState": {
                    "type": "object",
                    "description": "Public state data to set for the app or user.",
                    "additionalProperties": true
                  },
                  "protectedState": {
                    "type": "object",
                    "description": "Protected state data to set for the app or user.",
                    "additionalProperties": true
                  },
                  "privateState": {
                    "type": "object",
                    "description": "Private state data to set for the app or user.",
                    "additionalProperties": true
                  },
                  "overwrite": {
                    "type": "boolean",
                    "description": "If true, the state will be overwritten with the provided state. If false or omitted, the state will be deep merged with the provided state."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a state object that may contain public, protected, and/or private state for the app, or user of the app for the provided userId.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "publicState": {
                      "type": "object",
                      "description": "Public state data for the app or user."
                    },
                    "protectedState": {
                      "type": "object",
                      "description": "Protected state data for the app or user."
                    },
                    "privateState": {
                      "type": "object",
                      "description": "Private state data for the app or user."
                    }
                  },
                  "required": [
                    "publicState",
                    "protectedState"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        }
      }
    },
    "/v1/apps/{appId}/teammates": {
      "get": {
        "operationId": "getAppTeammates",
        "summary": "Get app teammates",
        "description": "Get an array of teammates for the provided appId.",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/headerAuthorizationUser"
          },
          {
            "$ref": "#/components/parameters/pathAppId"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of teammates.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AppTeammateModel"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "user": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        }
      },
      "post": {
        "operationId": "createAppTeammate",
        "summary": "Create app teammate",
        "description": "Create a teammate for the provided appId, userId and role. Authorized user must be the owner of the app, or be a teammate with a role of OWNER.",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/headerAuthorizationUser"
          },
          {
            "$ref": "#/components/parameters/pathAppId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string",
                    "description": "The user id to add as a teammate of the app."
                  },
                  "role": {
                    "type": "string",
                    "description": "The role of the teammate.",
                    "enum": [
                      "OWNER",
                      "DEVELOPER",
                      "EDITOR",
                      "ANALYST"
                    ]
                  }
                },
                "required": [
                  "userId",
                  "role"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the created or existing teammate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppTeammateModel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        }
      }
    },
    "/v1/apps/{appId}/teammates/{userId}": {
      "patch": {
        "operationId": "updateAppTeammate",
        "summary": "Update app teammate",
        "description": "Update the role of a teammate for the provided appId and userId. Authorized user must be the owner of the app, or be a teammate with a role of OWNER.",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/headerAuthorizationUser"
          },
          {
            "$ref": "#/components/parameters/pathAppId"
          },
          {
            "$ref": "#/components/parameters/pathUserId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role": {
                    "type": "string",
                    "description": "The role of the teammate.",
                    "enum": [
                      "OWNER",
                      "DEVELOPER",
                      "EDITOR",
                      "ANALYST"
                    ]
                  }
                },
                "required": [
                  "role"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated teammate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AppTeammateModel"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        }
      },
      "delete": {
        "operationId": "deleteAppTeammate",
        "summary": "Delete app teammate",
        "description": "Delete a teammate for the provided appId and userId. Authorized user must be the owner of the app, or be a teammate with a role of OWNER.",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/headerAuthorizationUser"
          },
          {
            "$ref": "#/components/parameters/pathAppId"
          },
          {
            "$ref": "#/components/parameters/pathUserId"
          }
        ],
        "responses": {
          "204": {
            "description": "Teammate deleted successfully."
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        }
      }
    },
    "/v1/apps/{appId}/users": {
      "get": {
        "operationId": "getAppUsers",
        "summary": "Get app users",
        "description": "Returns an array of public users objects representing users of the apps. A HYPLAY user is considered a user of the app if they have had at least 1 active session for the provided appId.",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pathAppId"
          },
          {
            "$ref": "#/components/parameters/headerAuthorizationAppSecretOptional"
          },
          {
            "$ref": "#/components/parameters/queryCursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of public user objects.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/UserModel"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "wallet": {
                          "$ref": "#/components/schemas/WalletModel"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/v1/apps/{appId}/users/{userId}": {
      "get": {
        "operationId": "getAppUser",
        "summary": "Get app user",
        "description": "Returns a public user object representing a user of the app that also includes the `totalAppReferrals` property which represents the number of other users the user for the provided userId has referred to the provided appId.",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pathAppId"
          },
          {
            "$ref": "#/components/parameters/pathUserId"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a public user object that includes a `totalAppReferrals` property.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/UserModel"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "wallet": {
                          "$ref": "#/components/schemas/WalletModel"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "totalAppReferrals": {
                          "type": "integer"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/v1/apps/{appId}/users/{userId}/referrals": {
      "get": {
        "operationId": "getAppUserReferrals",
        "summary": "Get app user referrals",
        "description": "Returns all ids and usernames of referrals for the given userId and appId.",
        "tags": [
          "Apps"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/pathAppId"
          },
          {
            "$ref": "#/components/parameters/pathUserId"
          },
          {
            "$ref": "#/components/parameters/queryCursor"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of referrals with referral/referrer usernames.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "referrals": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/AppReferralsModel"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      }
    },
    "/v1/apps/{appId}/whitelist": {
      "get": {
        "operationId": "getWhitelist",
        "summary": "Get whitelist",
        "description": "Get the whitelist data for an app. Returns all data in lower case to simplify case insensitive matching.",
        "tags": [
          "Whitelist"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/headerAuthorizationUser"
          },
          {
            "$ref": "#/components/parameters/pathAppId"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the whitelist data for the app.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "enabled": {
                      "type": "boolean"
                    },
                    "userIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "usernames": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      },
      "patch": {
        "operationId": "updateWhitelist",
        "summary": "Update whitelist",
        "description": "Update the whitelist data for an app. Existing values provided will be ignored to prevent duplicates in the list. All values are case-insensitive.",
        "tags": [
          "Whitelist"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/headerAuthorizationUser"
          },
          {
            "$ref": "#/components/parameters/pathAppId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "enabled": {
                    "type": "boolean",
                    "description": "Whether the whitelist is enabled."
                  },
                  "userIds": {
                    "type": "array",
                    "description": "User Ids to add to the whitelist.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "emails": {
                    "type": "array",
                    "description": "Emails to add to the whitelist.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "usernames": {
                    "type": "array",
                    "description": "Usernames to add to the whitelist.",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated whitelist data for the app.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "enabled": {
                      "type": "boolean"
                    },
                    "userIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "usernames": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        }
      },
      "delete": {
        "operationId": "deleteFromWhitelist",
        "summary": "Delete from whitelist",
        "description": "Delete entries from the whitelist for an app. All values are case-insensitive.",
        "tags": [
          "Whitelist"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/headerAuthorizationUser"
          },
          {
            "$ref": "#/components/parameters/pathAppId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userIds": {
                    "type": "array",
                    "description": "User Ids to add to the whitelist.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "emails": {
                    "type": "array",
                    "description": "Emails to add to the whitelist.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "usernames": {
                    "type": "array",
                    "description": "Usernames to add to the whitelist.",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the updated whitelist data for the app.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "enabled": {
                      "type": "boolean"
                    },
                    "userIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "emails": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "usernames": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          }
        }
      }
    },
    "/v1/assets": {
      "get": {
        "operationId": "getAssets",
        "summary": "Get assets",
        "description": "Returns an array of assets that have been uploaded by the authorized user ordered by most recent creation.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/headerAuthorizationUser"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of asset objects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetModel"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          }
        }
      },
      "post": {
        "operationId": "createAsset",
        "summary": "Create asset",
[...]
